
  /*Supplements*/
  
  .abonament {
    padding: 150px;
    position: relative;
    background-color: rgb(133, 46, 247);
  }
  
  .abonament h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 30px;
  }

  .abonament h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: right;
    padding-top: 30px;
  }

  .abonament h4 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
  }

  .abonament h5 {
    font-size: 23px;
    font-weight: 400;
    text-align: right;
    padding: 5px;
  }
  
  .abonament p {
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.2em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 66%;
  }

  .col-abon {
    padding: 10px;
  }
  .row-abon {
    padding: 10px;
  }
  
  
  .abonament .nav.nav-pillabons {          /*componenta pills a lui Nav*/
    width: 60%;                         /*folosim pentru a crea o bordura in jurul*/
    margin: 0 auto;                     /*tab-urilor*/
    background-color: rgba(26, 9, 25, 0.548);
    overflow: hidden;
  }
  
  .abonament .nav.nav-pillabons .nav-item {
    width: 50%;                   /*Marimea fiecarui tab(fiind 3, width 1/3)*/
  }


  
  .abonament .nav.nav-pillabons .nav-link {
    background-color: transparent;      /*transparent pt ca se vede peste gradientul*/
    border-radius: 0;                   /*de la active-link*/
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.5s ease-in-out;     /*Tranzitie pentru animatie apasare taburi*/
    text-align: center;
    z-index: 0;                     /*controlam ca coordonata z sa fie pe 0, 
                                    nivelul de baza pe o pagian web*/
                                    /*elem cu index z mai mici ca 0 vor
                                    fi dedesupt, cele cu z > 0 deasupra*/
  }
  
  .abonament .nav.nav-pillabons .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, #AA367C, #4A2FBD);
    top: 0;                   /*pe 0 ambele ca sa se faca animatia pe tot tabul*/
    left: 0;                  /* selectat si jos si sus*/
    z-index:-1;               /*setam aici la -1 ca dac ar fi mai mare ca z-index de
                              mai sus ar face animatie de tranzitie peste scris*/
    transition: 0.3s ease-in-out;
  }
  
  .abonament .nav.nav-pillabons .nav-link.active::before {
    width: 100% !important;     /*100% pt ca animatia sa se faca pe toata latimea
                                tab*/
  }
  
  
  .nav-link#abonaments-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .nav-link#abonaments-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  /*taburile de mai sus pentru bordura dintre taburi, sa se vada diferenta
  dintre tab1, tab2 si tab3*/
  
  
  .abon-imgbox {
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 7px;
    text-align: center;
  }

  .abon-imgbox .imagine {
    width: 150px;
    height: 200px;
    margin: 10%;
  }
  
  /*font text h4 - supplObj.js*/
  .abon-txtx h4 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
  }
  
  .abon-txtx span {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
  }

  .modal-obj {
    padding: 100px;
  }

  .modal-close-btn {
    background-color: rgb(0, 0, 0);
  }

  .body-modal{
    background-color: rgb(13, 13, 14);
  }

  .footer-modal{
    background-color:  rgb(0, 0, 0) !important; 
  }

  .divShopCartbtn {
    padding: 10px;
  }



  /*Buton_check*/

  .Checkout-btn {
        text-align: right;
  }

  .Checkout-btn button{

    font-weight: 700;
    color: #ffffff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }

  .Checkout-btn button span {
    z-index: 1; /*asigura elem <span> situat deasupra oricarui pseudo-elem al butonului*/
  }
  .Checkout-btn button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #ffffff ;
    left: 0;
    top: 0;
    z-index: -1; /*asigura ca pseudo-elem before este situat sub textul butonului*/
    transition: 0.3s ease-in-out;
  }
  .Checkout-btn button:hover {
    color: #000000 !important; /*aplicat cand user ajunge cu cursor pe buton*/
    z-index: 2;
  }
  .Checkout-btn button:hover::before { /*cand user plaseaza cursor pe buton, b
    butonu se extinde la 100% pe linie si coloana; efect umplere*/
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(1);
  }