/* .cart_container {
  
  background-color: rgb(133, 46, 247);
  padding: 12px;
} */

.empty_cart
{
  text-align: center;
}

.btnSHop {
  text-align: left;
}


.order {
  background-color: rgb(8, 8, 8);
  background-image: url('../assets/img/123.jpg');

}


.Register-tab {
    background-position: center;
}